<header class="header">
    <a href="">
        <img src="" alt="" class="header__logo">
    </a>
    <div class="buscar__producto">
        <input type="search" value="" >
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

<nav class="header__menu">
    <ul class="header__menu--lista">
        <li><a routerLink="/Inicio">Inicio</a></li>
        <li><a routerLink="/Productos">Productos</a></li>
        <li><a routerLink="/Contacto">Contacto</a></li>
    </ul>
</nav>

<a class="header__entrar">Entrar</a>
</header>
